@page "/yeasts/details"
@inject BlazorApp.Data.MysqlhomebrewContext DB
@using BlazorApp.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Yeast</h4>
    <hr />
    @if (yeast is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@yeast.Name</dd>
            <dt class="col-sm-2">Lab</dt>
            <dd class="col-sm-10">@yeast.Lab</dd>
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@yeast.Code</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@yeast.Type</dd>
            <dt class="col-sm-2">Form</dt>
            <dd class="col-sm-10">@yeast.Form</dd>
            <dt class="col-sm-2">Flocculation</dt>
            <dd class="col-sm-10">@yeast.Flocculation</dd>
        </dl>
        <div>
            <a href="@($"/yeasts/edit?id={yeast.Id}")">Edit</a> |
            <a href="@($"/yeasts")">Back to List</a>
        </div>
    }
</div>

@code {
    Yeast? yeast;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        yeast = await DB.Yeasts.FirstOrDefaultAsync(m => m.Id == Id);

        if (yeast is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
